<form action="/students" method="post">

  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" id="first-name">

  <label for="last-name">Last Name:</label>
  <input type="text" name="last_name" id="last-name">

  <label for="age">Age:</label>
  <input type="number" name="age" id="age">

  <label for="house">House:</label>
  <input type="text" name="house" id="house">

  <input type="submit" value="Add Student">
</form>
